<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python Web Application</title>
</head>
<body>
<h1>
    Score Log
</h1>
<!--Form with textbox and button to receive input-->
<form action="/submit_score" method="post">
    <input name="data" type="number">
    <button type="submit">Submit Score</button>
</form>

<p>
    Mean Score: {{ mean_score }}
</p>
<p>
    Median Score: {{ median_score }}
</p>
<p>
    Best Score: {{ best_score }}
</p>
<p>
    Worst Score: {{ worst_score }}
</p>
<p>
    Total Number of Entries: {{ total_entries }}
</p>

<!--Print each of the entered scores in a list-->
<ul>
    {% for score in scores %}
        <li>
            {{ score }}
        </li>
    {% endfor %}
</ul>

</body>
</html>